<%inherit file="/base.html" />

<%def name="title()">c.testsuite.name</%def>
<%def name="head()"></%def>
<%def name="onbodyload()"></%def>


% if len(c.tests) > 0:
<form action="${url(controller='attempt', action='new')}" method="post">
    <label>
        Имя:
        <input type="text" name="first_name">
    </label><br/>
    <label>
        Фамилия:
        <input type="text" name="last_name">
    </label><br/>
    <label>
        Отчество:
        <input type="text" name="middle_name">
    </label><br/>
    <label>
        Группа:
        <input type="text" name="group">
    </label><br/>
    <label>
        Тест:
        <select name="testsuite_id">
            % for test in c.tests:
            <option value="${test.id}">${test.name}</option>
            % endfor
        </select>
    </label><br/>
    <input type="submit" value="Пройти">
</form>
% else:
        No tests are defined.
% endif