<%inherit file="/base.html" />

<%def name="title()">c.test['name']</%def>
<%def name="head()"></%def>
<%def name="onbodyload()"></%def>

${c.test['name']}
<form action="${url(controller='attempt', action='check', id=c.attempt_id)}" method="post" name="answers">
    % for question_id in c.test['questions']:
        <p>${c.test['questions'][question_id]['name']}<br/>
        % for answer_id in c.test['questions'][question_id]['answers']:
            <label>
                ${c.test['questions'][question_id]['answers'][answer_id]['name']}
                <input type="checkbox" name="${question_id}_${answer_id}">
            </label><br/>
        % endfor
        </p>
    % endfor
    <input type="submit" value="Отправить">
</form>