<%inherit file="/base.html" />

${self.menu()}
${self.navbar()}
${next.body()}

<%def name="css()">
HTML, BODY {height: 100%; margin: 0; padding: 0; }
#menu {
background: #CCC;
padding-top:5px;
padding-bottom:5px;
}
#menu a {
margin-right:25px;
margin-left:25px;
font-weight: bold;
}
#menu_right {
float: right;
}
${parent.css()}
</%def>
<%def name="menu()">
<div id="menu">
    <a id="tests" href="${url(controller='tests', action='index')}">Тесты</a>
    <a id="results" href="${url(controller='results', action='index')}">Результаты</a>
    <div id="menu_right">
        <a id="" href="">Сменить пароль</a>
        <a id="exit_link" href="/admin/account/logout">Выйти</a>
    </div>
</div>
</%def>
<%def name="navbar()"></%def>