<%inherit file="/base.html" />

<%def name="css()">
    form{
        width: 140px;
        margin: 0 auto;
        text-align: center;
    }
    label{
        width: 140px;
        display: block;
        float: left;
        text-align: left;
    }
    #login, #password {
        width: 140px;
    }
    #submit{
        margin-top: 10px;
    }
    ${parent.css()}
</%def>

<%def name="onbodyload()">document.getElementById("login").focus()</%def>

<form action="${url(controller='account', action='set_password')}" method="POST">
    <label for="new_password">Новый пароль:</label><br />
    <input type="password" id="new_password" name="new_password" /><br />
    <label for="repeat_password">Повторите пароль:</label><br />
    <input type="password" id="repeat_password" name="repeat_password" /><br />
    <input type="submit" id="submit" value="Сменить" />
</form>