<%inherit file="/admin/base.html" />

<%def name="title()">Редактирование теста «${c.testsuite.name}»</%def>
<%def name="head()">
<script language="javascript" type="text/javascript">
    function showAddQuestionButton() {
        var button = document.createElement("input");
        button.type = "button";
        button.value = "Добавить вопрос";
        button.onclick = function() {showNewQuestionForm();};
        button.id = "add_question_button";
        document.getElementById("add_question").appendChild(button);
    }
    function hideAddQuestionButton() {
        document.getElementById("add_question").removeChild(document.getElementById("add_question_button"));
    }

    function showNewQuestionForm() {
        hideAddQuestionButton();
        var form = document.createElement("form");
        form.method = "post";
        form.action = "${h.url(controller='tests', action='add_question', id=c.testsuite.id)}";

        var text = document.createElement("textarea");
        text.cols = 40;
        text.name = "name";
        form.appendChild(text);
        form.appendChild(document.createElement("br"));

        var cancelButton = document.createElement("input");
        cancelButton.type = "button";
        cancelButton.value = "Отменить";
        cancelButton.onclick = function() {hideNewQuestionForm()};
        form.appendChild(cancelButton);

        var saveButton = document.createElement("input");
        saveButton.type = "submit";
        saveButton.value = "Добавить";
        form.appendChild(saveButton);

        var testsuiteID = document.createElement("input");
        testsuiteID.type = "hidden";
        testsuiteID.value = "${c.testsuite.id}";
        testsuiteID.name = "testsuite_id";
        form.appendChild(testsuiteID);

        var newQuestion = document.createElement("div");
        newQuestion.id = "new_question";
        newQuestion.appendChild(form);

        document.getElementById("add_question").appendChild(newQuestion);
    }
    function hideNewQuestionForm() {
        showAddQuestionButton();
        document.getElementById("add_question").removeChild(document.getElementById("new_question"));
    }

    function postDeleteQuestion(id) {
        var form = document.createElement("form");
        form.method = "post";
        form.action = "${h.url(controller='tests', action='remove_question', id=c.testsuite.id)}";

        var questionID = document.createElement("input");
        questionID.type = "hidden";
        questionID.name = "id";
        questionID.value = id;
        questionID.id = "hidden_post_question";
        form.appendChild(questionID);

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }
</script>
</%def>
<%def name="onbodyload()">showAddQuestionButton()</%def>
<form action="${url(controller='tests', action='set_test_params', id=c.testsuite.id)}" method="post">
    <input type="hidden" name="id" value="${c.testsuite.id}">
    <label>
        <span style="font-weight: bold;">Название теста:</span><br/>
        <textarea name="name" cols="40" rows="3">${c.testsuite.name}</textarea>
    </label><br/>
    <label>
        <span style="font-weight: bold;">Количество вопросов в тесте:</span><br/>
        <input type="text" name="number" value="${c.testsuite.questions_per_test}">
    </label><br/>
    <input type="submit" value="Сохранить">
</form>

<span style="font-weight: bold;">Варианты вопросов:</span><br/>
<div id="questions">
    <ol>
        % for question in c.questions:
        <li>
            <a href="${h.url(controller='tests', action='edit_question', id=question.id, testsuite_id=c.testsuite.id)}">
                ${question.name}
            </a>
            <input type="button" value="Удалить" onclick="postDeleteQuestion(${question.id})">
        </li>
        % endfor
    </ol>
</div>
<div id="add_test"></div>
<div id="add_question"></div>