<%inherit file="/admin/base.html" />

<%def name="title()">Тесты</%def>
<%def name="css()">
    #new_test{
        width: 400px;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }
    form input[type=button], input[type=submit]{
        float: right;
    }
    ${parent.css()}
</%def>
<%def name="head()">
${parent.head()}
<script language="javascript" type="text/javascript">
    function showAddTestButton() {
        var button = document.createElement("input");
        button.type = "button";
        button.value = "Добавить тест";
        button.onclick = function() {showNewTestForm();};
        button.id = "add_test_button";
        document.getElementById("add_test").appendChild(button);
    }
    function hideAddTestButton() {
        document.getElementById("add_test").removeChild(document.getElementById("add_test_button"));
    }

    function showNewTestForm() {
        hideAddTestButton();
        var form = document.createElement("form");
        form.method = "post";
        form.action = "${url(controller='tests', action='add_test')}";

        var text = document.createElement("textarea");
        text.cols = 80;
        text.name = "name";
        text.id = "name";
        text.style.width = "400px";
        text.style.maxWidth = "400px";

        var textLabel = document.createElement("label");
        textLabel.innerHTML = "<span style='font-weight: bold;'>Название теста</span><br/>";
        textLabel.appendChild(text);
        form.appendChild(textLabel);
        form.appendChild(document.createElement("br"));

        var saveButton = document.createElement("input");
        saveButton.type = "submit";
        saveButton.value = "Добавить";
        saveButton.form = form.id;
        form.appendChild(saveButton);

        var cancelButton = document.createElement("input");
        cancelButton.type = "button";
        cancelButton.value = "Отменить";
        cancelButton.onclick = function() {hideNewTestForm()};
        form.appendChild(cancelButton);

        var newTest = document.createElement("div");
        newTest.id = "new_test";

        newTest.appendChild(form);

        document.getElementById("add_test").appendChild(newTest);
        text.focus();
    }
    function hideNewTestForm() {
        showAddTestButton();
        document.getElementById("add_test").removeChild(document.getElementById("new_test"));
    }

    function postDeleteTest(id) {
        var form = document.createElement("form");
        form.method = "post";
        form.action = "${url(controller='tests', action='remove_test')}";

        var testsuiteID = document.createElement("input");
        testsuiteID.type = "hidden";
        testsuiteID.name = "id";
        testsuiteID.value = id;
        form.appendChild(testsuiteID);

        document.body.appendChild(form);
        form.submit();
    }
</script>
</%def>
<%def name="onbodyload()">showAddTestButton()</%def>
<div id="tests_content">
    <table id="tests_table" border="1" width="100%">
        <tr>
            <th>Название теста</th>
            <th width="150px">Количество вопросов на тест</th>
            <th width="150px">Количество вариантов вопросов</th>
            <th width="70px"></th>
        </tr>
        % for test in c.tests:
        <tr>
            <td>
                <a href="${url(controller='tests', action='edit_test', id=test.id)}">
                    ${test.name}
                </a>
            </td>
            <td style="text-align: center;">${test.questions_per_test}</td>
            <td style="text-align: center;">${len(test.questions)}</td>
            <td><input type="button" value="Удалить" onclick="postDeleteTest(${test.id})"></td>
        </tr>
        % endfor
    </table>
    <div id="add_test"></div>
</div>